.button
{
    -fx-background-color: #89CFF0;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 3;
    -fx-font-size:14;
    -fx-width: 50px;
}
Pane {
    -fx-background-color: #FFFFFF;
    -fx-width: 150px;
    -fx-height: 150px;
}
.root {
  /*This applies styling for the root node*/
    -fx-background-color: BEIGE;
    -fx-padding: 20
}
.text {
    -fx-font: normal bold 14px 'serif';
}