.button
{
    -fx-background-color: #3E54AC;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 15;
    -fx-font-size:14;
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;

}
.label {
    -fx-font: normal bold 18px 'serif';
    -fx-text-fill: blue;
}
Pane {
    -fx-background-color: #FFFFFF;
    -fx-width: 280px;
    -fx-height: 280px;
}
.root {
    -fx-background-color: #C9EEFF;
    -fx-padding: 20
}
.text {
    -fx-font: normal bold 14px 'serif';
}